extends layout

block content
  h1 Cha
  p.lead Sell those unused exchanges
  a(href="https://www.gocha.io") Project Homepage
  h3.text-center Venture funding: 80% of goal
  .row
    .col-xl-12.text-center
      img.img-thumbnail.projectImage(src='images/cha.jpg')
      p Cha at StartupWeekend 2015
  .row.projectHeader
    .col-lg-12
      h2 Project Description
  .row.projectSection
    .col-sm-6
      h3 Sell
      p Sell any unused meal exchanges you have, get reimbursed $5.50 for every one you sell.  Better than blowing them at Cane's, no? 
    .col-sm-6
      h3 Buy
      p Buy other student exchanges, get in the Caf for 3 bucks less.  I mean, who doesn't want to feast for $9?
  .row.projectHeader
    .col-lg-12
      h2 Project Goals
  .row.projectSection
    .col-sm-6
      ul
        li
          p Secure agreement with OU Housing and Food to allow development of Cha
        li
          p Create and test full website for exchange transactions
        li
          p Launch application in Summer 2015
  .row.projectHeader
    .col-lg-12
      h2 Project Funding
  .row.projectSection
    .col-sm-6
      p Currently, Cha is not seeking any external financing.  However, we'd love to get your feedback, so feel free to find us on our site!