extends layout

block content
  h1 Spur Ventures
  p.lead Welcome to your next startup
  hr
  .row
    .col-sm-6
      h2 View
      p Browse around and see some awesome projects going on here at OU.  We have a lot of ventures that could use your help.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Fund
      p If you like a venture enough, give it some cash!  With the help of our boys down at Stripe, you can easily fund a venture and get cool stuff from your support.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Grow
      p Get updates on how your funded venture is doing, their story, and what they've got going on next.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Profit
      p If you're lucky, the venture will go on to become profitable, and you can be listed as a member that got them going.  None of these could be possible without you.  You philanthropist, you.  
      p
        a.btn.btn-default(href='#', role='button') View details »